@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgb(24, 50, 20);
}

.logo {
  color: #ffff;
  font-family: 'Poppins', sans-serif;
  position: relative;
  top: 10px;
  left: 20vh;
  transition: 0.2s;
  cursor: pointer;
}

nav {
  padding: 20px;
  list-style: none;
}

nav ul {
  position: relative;
  text-align: end;
  display: block;
}

nav ul li {
  word-spacing: 40px;
  display: inline;
  position: relative;
  bottom: 17px;
  right: 25vh;
}

nav ul li a {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #ffff;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
}

nav ul li a:hover,
.logo:hover {
  opacity: 75%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.intro-section {
  background-color: rgb(255, 251, 233);
  height: 80vh;
}

.intro-text {
  font-family: 'Playfair Display', serif;
  text-align: center;
  position: relative;
  top: 30vh;
  animation: fadeIn 3s;
}

#text-above {
  font-size: 45px;
}

#text-below {
  font-size: 22px;
}
