@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

nav {
  background-color: rgb(22, 44, 17);
}

.logo {
  color: #ffff;
  font-family: 'Poppins', sans-serif;
  position: relative;
  top: 10px;
  left: 20vh;
  transition: 0.2s;
  cursor: pointer;
}

nav {
  padding: 10px;
  list-style: none;
}

nav ul {
  position: relative;
  text-align: end;
  display: block;
}

nav ul li {
  word-spacing: 40px;
  display: inline;
  position: relative;
  bottom: 17px;
  right: 25vh;
}

nav ul li a {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #ffff;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
}

nav ul li a:hover,
.logo:hover {
  opacity: 75%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.intro-section {
  background-color: rgb(255, 253, 244);
  height: 90vh;
}

.intro-text {
  font-family: 'Playfair Display', serif;
  text-align: center;
  position: relative;
  top: 35vh;
  animation: fadeIn 3s;
}

#text-above {
  font-size: 45px;
  font-weight: 100;
}

#text-below {
  font-size: 22px;
  font-weight: 100;
}

.about-section h3 {
  padding: 40px;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 100;
}

.about-section p {
  font-family: 'Playfair Display', serif;
  font-size: 13px;
  font-weight: 100;
  margin-left: 30vh;
  margin-right: 30vh;
}

.about-section li {
  padding: 50px;
  text-align: center;
}

.about-section img {
  max-width: 180px;
  height: 330px;
  margin: 20px;
  opacity: 90%;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about-section img:hover {
  opacity: 100%;
}

.contact-section {
  background-color: rgb(22, 44, 17);
  text-align: center;
}

.contact-section h3 {
  padding: 35px;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 100;
  color: white;
}

.contact-section p {
  font-family: 'Playfair Display', serif;
  font-size: 13px;
  font-weight: 100;
  color: white;
  position: relative;
  bottom: 20px;
  padding: 20px;
}
